html {
  height: 100%;
}
body {
  background-image: url('img/polonez_car.png');
}

/* Header*/
.fixNavigation{
  z-index: 9999;
  position:fixed;
   top: 0;
   height: 80px;
   width: 100%;
}
li {
  text-decoration: none;
  display: inline-block;
  padding: 30px;
  font-size: 25px;
  font-family: Impact;
}
nav {
  width: 100%;
  height: 100px;
  background-color: #FECC00;
  opacity: 0.;
  border-bottom: 1px solid black;
  box-shadow: 1px 2px gray;

}
li:hover {
  font-weight: bold;
  text-decoration: none;


}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
/* Fin du header*/


/* Main*/
main{
  width: 1000px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

}


.sam2 {
  width: 300px;
  height: 500px;
}
.main {
  margin-left: 100px;
  width: 800px;
  height: 300px;
}
.sam {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}


.colgauche {

  float: left;
width: 70%;
padding: 30px;
    box-sizing:border-box;
 text-align: justify;
 }
 .coldroite {
display: inline;
  float: right;
 padding: 2px;
 width:30%;
  margin-top: 75px;
box-sizing: border-box;

  }

  .coldroite p{
    margin-bottom: 10px;
    margin-top: -35px;
  }

.starswars{
  display: inline-block;
}
p {
  font-family: 'Chewy', cursive;
  margin-bottom: 1px;
  font-size: 20px;
}
.disp {
  display: inline-block;
  font-size: 14px;
}

/* FOOTER */
footer {
clear: both;
  margin-top: 60px;
  width: 100%;
  height: 150px;
  background-image: url(img/dark_wood.png);
  opacity: 0.9;
}
